.project {
    cursor: pointer;
    margin: 1vmin 1vmin 1vmin 1vmin;
    padding: 1vmin 1vmin 1vmin 1vmin;
    border-radius: 5px;
    border-style: outset;
    border-color: rgb(230,230,230);
    transition:
        padding 0.25s ease-in-out,
        margin 0.25s ease-in-out,
        border-radius 0.25s ease-in-out;
}

.project:hover {
    margin: 1vmin 0 0 0;
    padding: 1vmin 2vmin 2vmin 2vmin;
    border-radius: 10px;
}